
/* Layout **************************************************/
.container {
    width: 800px;
    height: auto;
}




/* Header **************************************************/
.brand {
    display: inline-block;
}

nav ul, nav ul li {
    display: inline-block;
}