
header nav ul, header nav ul li {
    display: inline;
    text-decoration: none;
    list-style-type: none;
}

.container {
    display: inline-block;
    width: 90vw;
    margin: 0 auto;
}

