
    /* CSS Reset ***********************************************/
    /* http://meyerweb.com/eric/tools/css/reset/ 
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* End of CSS Reset **********************************/



    /* Layout ******************************************/
    .container {
        width: 800px;
        height: auto;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        background-color: inherit;
    }



    /* Custom Properties **************************************/
    :root {
        --main-bg-color: whitesmoke;
        --secondary-bg-color: #01539d;
        --main-font-color: #2f3d7e;
        --secondary-font-color: #eea47f;
    }



    /* Common Styles *******************************************/
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 14px;
        font-weight: 300;
    }

    h1 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 100;
        font-size: 36px;
    }

    nav li a {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
    }

    nav ul li {
        display: inline-block;
        margin: 15px;
    }



    /* Header **************************************************/
    header {
        background-color: var(--secondary-bg-color);
        color: var(--secondary-font-color);
        padding: 10px 0;
    }

    header .brand {
        display: block;
        float: left;
    }

    header .brand a {
        color: inherit
    }

    header .main-nav {
        font-weight: bold;
        float: right;
    }

    header .main-nav ul li:last-child {
        margin-right: 0;
    }





    /* Footer **************************************************/
    footer {
        background-color: var(--secondary-bg-color);
        color: var(--secondary-font-color);
        font-size: 12px;
        padding-top: 5px;
        padding-bottom: 15px;
    }

    footer .disclaimer {
        margin: 15px auto;
        text-align: center;
    }

    footer .footer-nav ul {
        text-align: center
    }




    /* Clearfix *************************************************/
    .clearfix::before, .clearfix::after {
        display: table;
        content: "";
    }

    .clearfix::after {
        clear: both;
    }

    .clearfix {
        clear: both;
        zoom: 1;
    }